@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, night --prefersdark
}

/* @import "leaflet/dist/leaflet.css"; */

.cally {
  /* This class specifically targets and styles the Cally Web Component */
  @apply bg-base-100 shadow-xl rounded-box p-4;
}

