@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark
}




/* @import "leaflet/dist/leaflet.css"; */

.cally {
  /* This class specifically targets and styles the Cally Web Component */
  @apply bg-base-100 shadow-xl rounded-box p-4;
}


@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.bounce-slow {
  animation: bounce-slow 2s ease-in-out infinite;
}


