@import "tailwindcss";

@plugin "daisyui" {
  themes: all
}


/* @import "leaflet/dist/leaflet.css"; */



@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.bounce-slow {
  animation: bounce-slow 2s ease-in-out infinite;
}


